body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input[type="number"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  appearance: none;
}

button {
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.generated-password {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.password-text {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

.link-button {
  margin-top: 20px;
}

.link-button button {
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link-button button:hover {
  background-color: #45a049;
}

.center-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}